<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CoviStat - Dashboard</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css" />
</head>
<body>
{{> _header }}

<main class="container my-3">
<h1>Inzidenz-Dashboard</h1>

<p id="explanation">
Es konnte kein Inhalt zu dieser Anfrage gefunden werden.
</p>

<a href="{{ router.linkToDashboard }}">Zur Startseite</a>

</main>

{{> _footer }}

</body>
</html>