<footer class="container">
	<ul>
	    <!-- Works only on server at the moment. Need to find another way providing the correct path -->
		<li><a href="{{request.getContextPath}}">Startseite</a>
		<li><a href="{{request.getContextPath}}/legal/impress">Impressum</a></li>	
		<li><a href="{{request.getContextPath}}/legal/privacy">Datenschutz</a></li>
	</ul>
</footer>