<footer class="container">
	<ul>
		<li><a href="{{request.getContextPath}}/mvc">Startseite</a>
		<li><a href="{{request.getContextPath}}/mvc/legal/impress">Impressum</a></li>	
		<li><a href="{{request.getContextPath}}/mvc/legal/privacy">Datenschutz</a></li>
	</ul>
</footer>