<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CoviStat - Dashboard</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css" />
</head>
<body>
{{> _header }}

<main class="container my-3">
<h1>Inzidenz-Details zu {{ page.countyName }}</h1>

	{{#page.currentDataContent}}
	<div class="card my-3">
		<div class="card-body">
				<h2 class="card-title h3">Aktuelle 7-Tage Inzidenz</h2>
				<p class="h2">{{ sevenDayIncidence }}</p>
			<div class="text-muted">
				Letztes Update: {{ lastUpdate }}
			</div>
		</div>
	</div>
	{{/page.currentDataContent}}

	<div class="card my-3">
		<div class="card-body">
				<h2 class="card-title h3">7-Tage Inzidenzen der letzten 14 Tage</h2>
			<ul>
				{{#page.historyCardContentEntries}}
					<li> {{ lastUpdate }}: {{ sevenDayIncidence }}
				{{/page.historyCardContentEntries}}
			</ul>
		</div>
	</div>
</main>

{{> _footer }}

</body>
</html>