<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CoviStat - Dashboard</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ request.getContextPath }}/assets/css/styles.css" />
</head>
<body>
{{> _header }}

<main class="container my-3">
<h1>7-Tage Inzidenz-Dashboard</h1>

<div class="cs-card-container">
{{#page.content}}
	<div class="card my-3 mx-1 cs-card">
		<div class="card-body">
				<h2 class="card-title h3">{{ countyName }}</h2>
				<p class="h2">{{ sevenDayIncidence }}</p>
			<div class="text-muted">
				Letztes Update: {{ lastUpdate }}
			</div>
			<div>
				<a href="{{#linkToCountyDetails}}{{ags}}{{/linkToCountyDetails}}">Zur Detailsansicht</a>
			</div>
		</div>
	</div>
{{/page.content}}
</div>

<details>
 <summary>Allgemeine Infos / Quellenvermerk</summary>
 Willkommen bei meinem kleinen, privaten Dashboard zur Information bzgl. der Corona Inzidenzen.
<br><br>
Dieses Board zeigt die aktuellen Zahlen des RKI auf Basis des <a href="https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_Landkreisdaten/FeatureServer/0/query?where=1%3D1&outFields=BL,BL_ID,county,last_update,cases7_per_100k,AGS&returnGeometry=false&outSR=4326&f=json">COVID-19 Datenhubs des Bundesamtes fuer Kartographie und Geodaesi</a>.
<br><br>
Quellenvermerk: Robert Koch-Institut (RKI), dl-de/by-2-0  Haftungsausschluss: „Die Inhalte, die über die Internetseiten des Robert Koch-Instituts zur Verfügung gestellt werden, dienen ausschließlich der allgemeinen Information der Öffentlichkeit, vorrangig der Fachöffentlichkeit“

</details>
</main>

{{> _footer }}

</body>
</html>