<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CoviStat - Dashboard</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css" />
</head>
<body>
{{> _header }}

<main class="container my-3">
<h1>Inzidenz-Dashboard</h1>

{{#statistics}}
	<div class="card my-3">
		<div class="card-body">
				<h2 class="card-title h3">{{county}}</h2>
			<ul>
				<li>7-Tage Inzidenz: {{sevenDayIncidence}}</li>
			</ul>
			<div class="text-muted">
				Letztes Update: {{lastUpdateInGermanFormat}}
			</div>
		</div>
	</div>
{{/statistics}}

<details>
 <summary>Allgemeine Infos / Quellenvermerk</summary>
 Willkommen bei meinem kleinen, privaten Dashboard zur Information bzgl. der Corona Inzidenzen.
<br><br>
Dieses Board zeigt die aktuellen Zahlen des RKI auf Basis des <a href="https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_Landkreisdaten/FeatureServer/0/query?where=1%3D1&outFields=BL,BL_ID,county,last_update,cases7_per_100k,AGS&returnGeometry=false&outSR=4326&f=json">COVID-19 Datenhubs des Bundesamtes fuer Kartographie und Geodaesi</a>.
<br><br>
Quellenvermerk: Robert Koch-Institut (RKI), dl-de/by-2-0  Haftungsausschluss: „Die Inhalte, die über die Internetseiten des Robert Koch-Instituts zur Verfügung gestellt werden, dienen ausschließlich der allgemeinen Information der Öffentlichkeit, vorrangig der Fachöffentlichkeit“

</details>
</main>

{{> _footer }}

</body>
</html>