label {
  font-weight: bold;
}

.cs-card-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem 1rem;
}

.cs-card {
	width: 500px;
	flex: 1 1 auto;
}

.search-section {
	border: 1px solid #00000020;
	padding: 1rem;
}

.cs-card-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cs-card-inline-form {
	margin: 0;
}